/* app.component.css */

.container {
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Arrange items vertically */
    align-items: center; /* Center-align items horizontally */
    justify-content: center; /* Center-align items vertically */
    height: 100vh; /* Set container height to viewport height */
    width: 100vw;
    align-items: center;
    justify-content: center;
  }
  
  img {
    max-width: 100%; /* Ensure the image doesn't exceed its container's width */
  }

  h1 {
    color: purple;
  }

  .text-box {
    height: 5rem;
    width: 25rem;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    display: grid;
    place-items: center;
  }

  
  .button-container {
    display: flex;
    position: relative;
    gap: 20px;
  }
  
  .button-container button {
    margin: 0 5px; /* Add some space between the buttons */
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .static-button {
    background-color:green;
    position: relative;
  }

  .runaway-button {
    background-color:red;
    position: absolute;
    transition: transform 0.3s ease-out;
  }

  