<div class="container" #container>
  <img *ngIf="!yesButtonClicked" [src]="gifPath" alt="Valentine's GIF">
  <div *ngIf="!yesButtonClicked" class="button-container" #buttonContainer>
    <button 
      #yesButton
      class="static-button" 
      (click)="showYes()">
      Yes
    </button>
  </div>
  <button 
      *ngIf="showNoButton"
      #noButton
      class="runaway-button" 
      [@moveAnimation]="{ value: position, params: { transform: getTransform() } }"
      [style.left.px]="position.left"
      [style.top.px]="position.top"
      (mouseover)="moveButton()"
      (click)="toggleNoButton()">
      No
    </button>
  <div *ngIf="yesButtonClicked" >
    <div class="text-box">
      <h1>u r my wife & valentine now 😊</h1>
    </div>
  </div>
</div>